@charset "UTF-8";

/*versão mobile first*/

/* typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768 até 992px
Deskytop: 992 até 1200px
Grandes telas: acima de 1200px


*/

@media print{ /*impressão */}

@media screen and (min-width: 768px) and (max-width:992px) { /*Table */
    
    body{background-image: url(../imagens/back-tablet.jpg);}

    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}

}

@media screen and (min-width:992px ) and (max-width:1200px){ /* Desktop*/

    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}

}

@media screen and (min-width:1200px){ /*Grandes telas*/

    body{background-image: url(../imagens/back-tv.jpg);}

    main{
        width: 700px;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}

}