@charset "UTF-8";

/* typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768 até 992px
Deskytop: 992 até 1200px
Grandes telas: acima de 1200px


*/

@media screen and (min-width:768px){

    span#burger{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li {

        display: inline-block;
    }

    main{
        width: 768px;
    }

}